.articles {
	display: grid;
	padding: 0 15px;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
	margin: 40px 0;
	@media (max-width: 991px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 575px) {
		grid-template-columns: 1fr;
	}
}

.createBtn {
	background: #0b0b0b;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	padding: 20px 0;
}
